$primary-color: #ff0000
$url: "../../../assets/images/redriver72.jpg"

.full-background
  position: absolute
  background-image: url(#{$url})
  background-size: cover
  background-position: center center
  height: 100%
  width: 100%
  overflow: hidden
  top: 0
  z-index: -1
  div
    h1
      position: relative
      top: 200px
      color: white
      text-transform: uppercase
      font-size: 5em
