$border-color: rgba(0,0,0,0.08)
$transparent-hover: rgba(0,0,0,0.08)
.navbar-default
  background-color: $border-color
  border-color: $border-color
  .navbar-toggle
    border-color: $border-color
    &:hover
      border-color: $border-color
      background-color: $transparent-hover
  .navbar-collapse
    border-color: $border-color
